<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — okestonia</title>
<body>
  {% set path = this._path %}
  <header>
    <h1>okestonia</h1>
    <nav>
      <ul class="nav navbar-nav align-right">
        {% for alt in get_alts() %}
          <li><a href="{{ path|url(alt=alt) }}">{{ alt }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav">
        <li{% if path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    Page maintained by Märt Põder and Nicola Vitucci.
  </footer>
</body>
