<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — okestonia</title>

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">

<body>
  {% set path = this._path %}
  <header>
    <h1>okestonia</h1>
    <nav>
      <ul class="nav navbar-nav text-alignright">
        {% for alt in get_alts() %}
          <li><a href="{{ path|url(alt=alt) }}">{{ alt }}</a></li>
        {% endfor %}
      </ul>

      {#
      <ul class="nav navbar-nav">
        <li{% if path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      #}

      <ul class="nav navbar-nav">
        {% for label, path in bag('main-nav', this.alt).iteritems() %}

        <li{% if this.is_child_of(path) %} class="active"{% endif
          %}><a href="{{ path|url(alt=alt) }}">{{ label }}</a>
      {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    {{ bag('global-content', this.alt).footer }}
  </footer>
</body>
